version: '2'

services:
  aiohttp:
    restart: always
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: delivery-aiohttp
    ports:
      - "5442:8080"
    networks:
      - vault-network

  vault:
    image: vault:1.1.3
    volumes:
      - ./vault/config:/vault/config
      - ./vault/policies:/vault/policies
      - ./vault/file:/vault/file
    environment:
      - VAULT_ADDR=http://vault:8200
    cap_add:
      - IPC_LOCK
    command: vault server -config=/vault/config/vault.json
    networks:
      - vault-network

networks:
  vault-network:
